.session-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    /* border: red solid 1px; */
    margin-right: 20px;
    background-color: #2c2c2c;
    width: 200px;
}



.playbar {
    display: flex;
    justify-content: space-between;
    /* border: greenyellow solid 1px; */
    background-color: #2c2c2c;
    height: 54px;
    color: white;
    /* width: 100%; */
    /* margin-left: 310px; */

}

#login-button {
    background-color: #d60117;
    border-radius: 5px;
    color: white;
    font-family: SF-Pro Text-Light;
    padding: 5px;
    font-size: small;
    width: 90px;
    height: 27px;
    border-style: none;
}

#login-button:hover {
    cursor: pointer;
}

#signup-button:hover {
    cursor: pointer;
}

#signup-button {
    background-color: #d60117;
    border-radius: 5px;
    color: white;
    font-family: SF-Pro Text-Light;
    padding: 5px;
    font-size: small;
    width: 90px;
    height: 27px;
    border-style: none;
}

#home {
    font-family: SF-Pro Display;
    color: #f5f5f7;
    letter-spacing: .5px;
    font-weight: 200;
    font-size: 28px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 15px;
}

.volume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

#volume {
    width: 75%;
    background: linear-gradient(to right, #fff, #fff);
    appearance: none;
    cursor: pointer;
}

#volume::before {
    width: var(--range-progress);
    background: #f50;
    appearance: none;
    cursor: pointer;
}


#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    transform: translateY(-35%);
}


#volume::-webkit-slider-runnable-track {
    height: 3px;
    background: #ccc
}
